APP_NAME="Document Catalog"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=sqlite
DB_DATABASE=/data/database.sqlite

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:8080,127.0.0.1,127.0.0.1:8080
SESSION_DOMAIN=localhost
SESSION_DRIVER=cookie

DOCUMENTS_REMOTE_URL=http://nginx/remote/documents.xml
